In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet("green_tripdata_2025-11.parquet")

In [4]:
df.describe()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
count,46912.000000,46912,46912,41343.000000,46912.000000,46912.000000,41343.000000,46912.000000,46912.000000,46912.000000,46912.000000,46912.000000,46912.000000,0.0,46912.000000,46912.000000,41343.000000,41342.000000,41343.000000,46912.000000
mean,2.240621,2025-11-15 20:09:38.177417,2025-11-15 20:30:49.202123,1.245193,97.521849,143.066678,1.290666,27.581932,17.260303,0.796294,0.556329,2.629329,0.273442,NaN,0.930615,25.193228,1.246209,1.055416,0.884061,0.064893
min,1.000000,2025-10-26 20:23:16,2025-10-26 20:31:18,1.000000,1.000000,1.000000,0.000000,0.000000,-150.000000,-2.500000,-0.500000,-0.900000,0.000000,NaN,-1.000000,-151.000000,1.000000,1.000000,-2.750000,-0.750000
25%,2.000000,2025-11-08 13:15:22.250000,2025-11-08 13:33:41,1.000000,74.000000,75.000000,1.000000,1.280000,9.000000,0.000000,0.500000,0.000000,0.000000,NaN,1.000000,14.840000,1.000000,1.000000,0.000000,0.000000
50%,2.000000,2025-11-15 18:51:45,2025-11-15 19:08:39.500000,1.000000,75.000000,140.000000,1.000000,2.070000,13.500000,0.000000,0.500000,2.080000,0.000000,NaN,1.000000,20.300000,1.000000,1.000000,0.000000,0.000000
75%,2.000000,2025-11-22 17:53:09.250000,2025-11-22 18:13:35.500000,1.000000,116.000000,230.000000,1.000000,3.660000,19.800000,1.000000,0.500000,3.920000,0.000000,NaN,1.000000,29.620000,1.000000,1.000000,2.750000,0.000000
max,6.000000,2025-12-01 20:29:00,2025-12-01 20:44:42,99.000000,265.000000,265.000000,9.000000,172273.800000,990.000000,10.000000,1.500000,122.100000,108.000000,NaN,1.000000,991.000000,5.000000,2.000000,2.750000,0.750000
std,1.169630,NaN,NaN,1.062821,56.622102,77.362396,0.897942,1386.578884,17.284706,1.364010,0.319524,3.411468,1.512830,NaN,0.233187,19.312283,0.460969,0.228793,1.285098,0.211081

In [5]:
df["DT_lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"], errors="coerce")

In [6]:
df["DT_lpep_pickup_datetime"].isna().sum()

np.int64(0)

In [7]:
A = pd.to_datetime("2025-11-01")
B = pd.to_datetime("2025-12-01")

mask = (df["DT_lpep_pickup_datetime"] >= A) & \
    (df["DT_lpep_pickup_datetime"] < B) & \
    (df["trip_distance"] <= 1)

In [9]:
mask.sum()

np.int64(8007)

In [12]:
df_temp = df.loc[df["trip_distance"]<100,["trip_distance","DT_lpep_pickup_datetime"]]
df_temp.sort_values("trip_distance",ascending=False)

       trip_distance DT_lpep_pickup_datetime
18867          88.03     2025-11-14 15:36:27
27301          73.84     2025-11-20 12:28:02
31551          45.26     2025-11-23 10:12:18
30104          40.16     2025-11-22 02:07:07
20258          39.81     2025-11-15 14:12:35
...              ...                     ...
35523           0.00     2025-11-26 03:03:31
17870           0.00     2025-11-13 19:47:55
9761            0.00     2025-11-07 23:11:56
205             0.00     2025-11-01 04:11:38
31222           0.00     2025-11-22 23:03:04

[46891 rows x 2 columns]

In [15]:
df_temp = df.groupby("PULocationID", as_index=False)["total_amount"].sum()

In [17]:
df_temp.sort_values("total_amount",ascending=False)

     PULocationID  total_amount
64             74     257684.70
65             75     126791.81
145           166      49146.64
110           130      46490.74
35             43      45626.50
..            ...           ...
136           156         27.23
8              13         21.04
176           202         16.50
179           206         13.75
85             96          4.50

[233 rows x 2 columns]

In [19]:
df_temp = df.loc[(df["DT_lpep_pickup_datetime"] >= A) & \
    (df["DT_lpep_pickup_datetime"] < B) & \
    (df["PULocationID"]==74),
    ["tip_amount","DOLocationID"]]
df_temp.sort_values("tip_amount",ascending=False)

       tip_amount  DOLocationID
40883       81.89           263
31744       50.00           138
38851       45.00            74
32603       34.25           146
20175       28.90           265
...           ...           ...
46619        0.00            24
46609        0.00           122
46594        0.00           151
45566        0.00           242
45512        0.00           223

[12041 rows x 2 columns]